#background {
    position: fixed;
    height: 100%;
    width: 50%;
    left: 0;
    background-color: #d6e7f9;
}


#image {
    position: fixed;
    height: 100%;
    width: 55%;
    left: 0;
    background-image: url(../../../public/picture.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}